#resume {
    .heading {
        color: $color-blue-1;
    }
    .container {
        width: 80%;
        margin: auto;
        .resume_tabs {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 20px;
            .resume_button {
                font-size: $fs-1;
                font-weight: $fw-bold;
                color: $color-blue-2;
                cursor: pointer;
                &:hover {
                    color: $color-blue-1;
                }
                .resume_button_icon {
                    &::before {
                        font-size: $fs-1;
                        margin-right: 3px;
                    }
                }
            }
        }
        // .resume_section{
        //     display: grid;
        //     grid-template-columns: .6fr;
        //     justify-content: center;
        // }
        .resume_data {
            &:nth-child(odd) {
                text-align: right;
            }
            display: grid;
            grid-template-columns: 1fr max-content 1fr;
            column-gap: 1.5rem;
            .resume_title {
                font-size: $fs-1;
                font-weight: $fw-bold-0;
            }
            .resume_subtitle {
                display: inline-block;
                font-size: $fs-0;
                margin-bottom: 10px;
            }
            .resume_timeline {
                font-size: $fs-0;
                color: $color-gray-4;
            }
            .text {
                font-size: $fs-0;
                color: $color-gray-4;
            }
            .resume_rounder {
                display: inline-block;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                background: $color-blue-1;
            }
            .resume_line {
                display: block;
                width: 1px;
                height: 100%;
                background: $color-blue-1;
                transform: translate(6px, -7px);
            }
        }
    }
}

#resume [data-content] {
    display: none;
}
.resume_active[data-content] {
    display: block !important;
}
.resume_button.resume_active {
    color: $color-blue-1 !important;
}
